<% if session[:mobile] == "Y" %>
  <%= render 'mmarticle', obj: @articles %>      
<% else %>
  <div class='row'> 
    <div class='col-sm-offset-0 col-xs-12'>
      <div class="well well-lg">
          <%= render 'article', obj: @articles %>
          <div align="left">
            <%= will_paginate %>
          </div>
      </div>
    </div>
  </div>  
<% end %>