<% if session[:mobile] == "Y" %>
  <div class='row'> 
    <div class='col-xs-12 article-title'>
      <h5 align="left">My Settings</h5><hr>
    </div>
  </div>
  <%= render 'mmform' %>
<% else %>
  <div class="container">
    <div class="row">
      <div class='col-sm-12 gutter-0'><br>
        <div align="left" class="latest col-sm-6 gutter-0" >
          MY SETTINGS
        </div>
        <div class="latest col-sm-12 gutter-0"><hr></div>  
      </div>
      <%= render 'form' %>
    </div><br><br><br>
  </div>
<% end %>
