<% if session[:mobile] == "Y" %>
  <div class="container-fluid">
    <div class='row'> 
      <div class='article-title col-xs-12'>
        <h5>My Settings</h5><hr>
      </div>
      <div class='col-xs-12'>
        <%= render 'mmform' %>
      </div>
    </div><br><br><br>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class='col-sm-12 gutter-0'><br>
        <div align="left" class="latest col-sm-6 gutter-0" >
          MY SETTINGS
        </div>
        <div class="latest col-sm-12 gutter-0"><hr></div>  
      </div>
      <%= render 'form' %>
    </div><br><br><br>
  </div>
<% end %>
