<%#= render 'shared/errors', obj: @user %>
<div class="container">
<div class="row">
<div class="col-sm-12 col-xs-12">
  
  <h2>Three Subscription Package available:</h2>
  <br>
  
  <div class="carousel-inner">
  <div class="item active">
  <div class="row">

    <div class="col-sm-4 col-xs-4 gutter-0">
      <img src="assets/P1 Premier.jpg" class="img-responsive">
      <div class="carousel-caption">
      
        <!--<h4>Upgrade to Package #1</h4><hr>-->
        <!--<p><strong>Membership: </strong>Premier</p>-->
        <!--<p><strong>Yearly fee: </strong>RM 350.00</p>-->
        <!--<p><strong>Concurrent Ads Listing: </strong>30</p>-->
        <br>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 gutter-0">
      <img src="assets/P2 Gold.jpg" class="img-responsive">
      <div class="carousel-caption">

        <!--<h4 style="color:gold">Upgrade to Package #2</h4><hr>-->
        <!--<p style="color:gold"><strong>Membership:   </strong>Gold</p>-->
        <!--<p style="color:gold"><strong>Yearly fee:   </strong>RM 500.00</p>-->
        <!--<p style="color:gold"><strong>Concurrent Ads Listing: </strong>100</p>-->
        <br>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 gutter-0">
      <img src="assets/P3 Platinum.jpg" class="img-responsive">
      <div class="carousel-caption">

        <!--<h4>Upgrade to Package #3</h4><hr>-->
        <!--<p><strong>Membership: </strong>Platinum</p>-->
        <!--<p><strong>Yearly fee: </strong>RM 3000.00</p>-->
        <!--<p><strong>Concurrent Ads Listing: </strong>1000</p>-->
        <br>
      </div>
    </div>
      
  </div>
  </div>
  </div>

  <br>
  
</div>
</div>
<div class="row">
<div class="col-sm-12 col-xs-12">
  
  <% if logged_in? %> 
    <% if current_user.status? %>
      <%= link_to 'Back', root_path, class: "btn btn-info" %>
    <% else %>
      <%= link_to 'Update your Subscription', edit_user_path(current_user.id), class: "btn btn-info" %>
    <% end %>
  <% end %>
   
  <br><br>
</div>
</div>
</div>