<%#= render 'shared/errors', obj: @user %>
<div class="container">
<div class="col-xs-12 col-xs-offset-0"><!--align="center"-->
  <h2>Three Subscription Package available:</h2>
  <br>
  
  <%#= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %> 

  <h4>Upgrade to Package #1</h4><hr>
  <p><strong>Membership: </strong>Premier</p><%#= f.radio_button :m_gold, 'PayPal' %>
  <p><strong>Yearly fee: </strong>RM 350.00</p>
  <p><strong>Concurrent Ads Listing: </strong>30</p>
  <br>
  
  <h4>Upgrade to Package #2</h4><hr>
  <p><strong>Membership:   </strong>Gold</p><%#= f.radio_button :m_gold, 'PayPal' %>
  <p><strong>Yearly fee:   </strong>RM 500.00</p>
  <p><strong>Concurrent Ads Listing: </strong>100</p>
  <br>
  
  <h4>Upgrade to Package #3</h4><hr>
  <p><strong>Membership: </strong>Platinum</p><%#= f.radio_button :m_gold, 'PayPal' %>
  <p><strong>Yearly fee: </strong>RM 3000.00</p>
  <p><strong>Concurrent Ads Listing: </strong>1000</p>
  <br>
  
  <!--Premier: rm 350  - 30 listings-->
  <!--Gold: rm 500 - 100 listings-->
  <!--Platinum: rm 3000 - 1000 listings-->
  
  <!--Negotiator's Upgrade -->
  <!--Upgrade to Package #1 @ RM 350.00/ year for 30 concurrent Ads-->
  <!--Upgrade to Package #2 @ RM 500.00/ year for 100 concurrent Ads-->
  <!--Upgrade to Package #3 @ RM 3000.00/ year for 1000 concurrent Ads-->
      
  <!--Premier Silver, -->
  <!--Premier Gold, -->
  <!--Premier Platinum, -->
  
  
  <% if logged_in? %> 
    <% if current_user.status? %>
      <%= link_to 'Back', root_path, class: "btn btn-info" %>
    <% else %>
      <%= link_to 'Update your Subscription', edit_user_path(current_user.id), class: "btn btn-info" %>
    <% end %>
  <% end %>
  
  <%# end %> 
  <br><br>
</div>
</div>