<div class='row'> 
  <div class='col-sm-offset-1 col-xs-10'>
    <div class="well well-lg">
      <h4 align="center">Payment Details</h4><hr><br>
      <%= render 'form' %>
    </div>
  </div>
</div>     