<!--<%#- model_class = Image -%>
<%# if param1 = params[:param1] %>
  <div align="center">
    <%#= will_paginate %> 
  </div>
<%# else %>
  <%#= render 'articles/onearticle', obj: @article %>
<%# end %>

<%#= render 'image' %>

<%# if param1 = params[:param1] %>
  <div align="center">
    <%#= will_paginate %> 
  </div>
<%# end %>-->

<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
      <h4 align="center">List all Images ::..</h4>
      <div align="center">
        <%= will_paginate %>
      </div>
      <%= render 'image' %>
      <div align="center">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>   