<!--<h4 align="center"><%#="Manage Countries" %></h4>
<%#= render 'form' %>
<%#= render 'place', obj: @places %>-->


<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
      <h4 align="center"><%="Manage Countries" %></h4><hr><br>
      <%= render 'form' %>
      <%= render 'place', obj: @places %>
    </div>
  </div>
</div> 