<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="btn-group btn-group-justified">
      <%= link_to "<span class='glyphicon glyphicon-home'></span>&nbsp; Home".html_safe, welcome_mmindex_path, class: 'btn btn-footer' %>
      <%= link_to "What's New", root_path, class: 'btn btn-footer' %>
      <% if current_user %>
        <%= link_to "<span class='glyphicon glyphicon-log-out'></span>&nbsp; Sign Out ".html_safe, destroy_user_session_path, :method => :delete, class: 'btn btn-footer' %>        
      <% else %>
        <%= link_to "<span class='glyphicon glyphicon-log-in'></span>&nbsp; Sign In".html_safe, new_user_session_path, class: 'btn btn-footer'  %>
      <% end %>
    </div>
  </div>
</nav>



<!-- nav-justified to align center
      <a href="#" class="btn btn-primary">Apple</a>
      <a href="#" class="btn btn-primary">Samsung</a>

->
<!--  <ul class="nav nav-justified">-->